# Telegram Channel (optional)
TELEGRAM_BOT_TOKEN=
TELEGRAM_USER_ID=

# Tavily Travel Search (optional, recommended)
TAVILY_API_KEY=

# Pexels Image Search (optional)
PEXELS_API_KEY=

#	NTFY Push Notification (optional)
NTFY_TOPIC=

# AI Providers
# DUTIES: THINK, OUTPUT, MULTIMODALITY, IMAGE_GENERATION

PROVIDER_1_MODEL=
PROVIDER_1_API_KEY=
PROVIDER_1_BASE_URL=
PROVIDER_1_DUTIES=THINK,OUTPUT

PROVIDER_2_MODEL=
PROVIDER_2_API_KEY=
PROVIDER_2_BASE_URL=
PROVIDER_2_DUTIES=MULTIMODALITY

PROVIDER_3_MODEL=
PROVIDER_3_API_KEY=
PROVIDER_3_BASE_URL=
PROVIDER_3_DUTIES=IMAGE_GENERATION

PROVIDER_4_MODEL=
PROVIDER_4_API_KEY=
PROVIDER_4_BASE_URL=
PROVIDER_4_DUTIES=

PROVIDER_5_MODEL=
PROVIDER_5_API_KEY=
PROVIDER_5_BASE_URL=
PROVIDER_5_DUTIES=

PROVIDER_6_MODEL=
PROVIDER_6_API_KEY=
PROVIDER_6_BASE_URL=
PROVIDER_6_DUTIES=
