# LLM(OpenAI Compatible Model Required)
LLM_MODEL=
LLM_API_KEY=
LLM_BASE_URL=

# NTFY(deprecated)
NTFY_TOPIC=

# TAVILY(optional)
TAVILY_API_KEY=

# CHANNEL TELEGRAM(optional)
TELEGRAM_BOT_TOKEN=
TELEGRAM_USER_ID=