# Chat LLM(OpenAI Compatible Model Required)
CHAT_LLM_MODEL=
CHAT_LLM_API_KEY=
CHAT_LLM_BASE_URL=

# Multimodality LLM(optional, OpenAI Compatible Model Required)
MM_LLM_MODEL=
MM_LLM_API_KEY=
MM_LLM_BASE_URL=

# TAVILY(optional)
TAVILY_API_KEY=

# CHANNEL TELEGRAM(optional)
TELEGRAM_BOT_TOKEN=
TELEGRAM_USER_ID=