[Desktop Entry]
Version=1.0
Type=Application
Name=Chromium
Comment=
Exec=chromium --remote-debugging-port=9222
Icon=chromium
Path=
Terminal=false
StartupNotify=false
