[Desktop Entry]
Version=1.0
Type=Application
Name=Jarvis Chat UI
Comment=
Exec=chromium --remote-debugging-port=9222 --no-first-run --no-default-browser-check --disable-gpu http://localhost:4202
Icon=/agent-jarvis/html/favicon.png
Path=
Terminal=false
StartupNotify=false
