[Desktop Entry]
Version=1.0
Type=Application
Name=Jarvis Runtime
Comment=
Exec=thunar /agent-jarvis/runtime
Icon=folder-saved-search
Path=
Terminal=false
StartupNotify=false
